{% extends "admin/form.base.html.twig" %}
{% block title %}Editing{% endblock %}
{% block formTitle %}Editing category {{ category.label }}{% endblock %}
{% block formContent %}
    {{ include("admin/_form.html.twig") }}
    <div class="btn-group">
        <button class="btn btn-primary">Save</button> &nbsp;
        <button type="button" class="btn btn-secondary" onclick="location.href='{{ path("admin_categories_index") }}';">Cancel</button> &nbsp;
    </div>
    {{ form_end(form) }}
{% endblock %}