{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unauthorized </h1>
    <div class="d-flex justify-content-start"><lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_glnkkfua.json" mode="bounce" background="transparent"  speed="1"  style="width: 100%; height:300px"  loop  autoplay></lottie-player></div>
{% endblock %}